@font-face {
    font-family: 'Basier Circle';
    src: local('Basier Circle Circle Regular'), local('Basier-Circle-Circle-Regular'),
        url('BasierCircle-Regular.woff2') format('woff2'),
        url('BasierCircle-Regular.woff') format('woff'),
        url('BasierCircle-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


html, body{
    background-color: #e45cff6c;
    font-family: 'Basier Circle', Arial, Helvetica, sans-serif;
}

#dashboard{
    width: 100vw;
    height: 100vh;
    max-width:100%;
    border-radius: 16px;
    display: flex;
    align-items: center;

    background: rgba( 255, 255, 255, 0.7);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
}

#content{
    position: absolute;
    width:85%;
    height: 95%;
    right:1.5rem;

    border-radius: 16px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;

    display:grid;
    grid-template-columns: 30% 1fr 2fr;
    grid-template-rows: 10% 40% 1fr 2%;
    gap:2rem;
}

.banner{
    grid-column: 1 / 4;
    grid-row: 1;

    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.banner-text{
    font-size: 28px;
    margin-left: 2rem;
}

.banner-right{
    display: flex;
    align-items: center;
    gap:2rem;
    margin-right: 2rem;
}

.banner-right input[type=text] {
    padding: 12px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 22px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
    background-color: #fadeff70;
    width: 500px;
    outline: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:purple;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #036D19;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #036D19;
}

.profile-image{
    border-radius: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

.sidebar{
    position: absolute;
    top:0;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:3.5rem;
}

.logo{
    font-size:36px;
    padding-left: 1.5rem;

}

li .iconify{
    margin-right: 1.5rem;
}

li{
    list-style-type: none;
    font-size: 26px;
    display: flex;
    align-items: center;
    width:100%;
    padding: 1.25rem 0 1.25rem 1.5rem;

}

li:hover{
    background:white;
    color:purple;
    cursor:pointer;
    border-radius: 18px;
}

ul.main-nav, ul.sub-nav{
    padding-left: 0;
    display: flex;
    flex-direction: column;
    width:240px;
}

h1{
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.logo-icon{
    padding-right: 1rem;
}

/* 
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    SPENDING STATS PANEL (TOP RIGHT)
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.spending-stats{
    grid-column: 3 / 4;
    grid-row: 2;

    background: rgba( 255, 255, 255, 0.6 );
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;

    margin-right: 2rem;
    font-size: 22px;
    text-align: center;
}

.categories{
    display:grid;
    grid-template-columns: 1fr 1fr 20%;
    gap:2rem;
    padding: 0 2rem 2rem 2rem;
    height: 60%;
}

.cat{
    width:100%;
    height:100%;
    background-color: #FADEFF;
    border-radius: 18px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.add-cat{
    background-color: white;
    border: dashed 4px #FADEFF;
    height: 95%;
    color:purple;
    align-items: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-cat:hover{
    cursor: pointer;
    filter:brightness(1.05);
}

.percent{
    width:65%;
    margin-bottom: 2rem;
}

/* 
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    CARD SELECTION PANEL (TOP LEFT)
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.card-selection{
    grid-column: 1;
    grid-row: 2;

    background: rgba( 255, 255, 255, 0.6 );
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;

    margin-left: 2rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}

.card{
    max-width:75%;
    height: auto;
    filter: drop-shadow(0px 3px 6px #4600495b);
}

.add-card .iconify{
    font-size: 20px;
    margin-right: 1rem;
}

.sub-card{
    display: flex;
    font-size: 20px;
}

.add-card{
    margin-right: 2rem;
    font-size: 20px;
    font-family: 'Basier Circle', Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    padding:0.7rem 2rem 0.7rem 2rem;

    background-color:#FADEFF;
    border:none;
    border-radius: 12px;
    cursor: pointer;
}

.add-card:hover{
    color:purple;
    background-color: #f5f5f5;
}


.dropdown{
    display: flex;
    align-items: center;
    background-color: #FADEFF;
    padding:0.7rem 2rem 0.7rem 2rem;
    border-radius: 12px;
}

#card-dropdown{
    border:none;
    background-color: #FADEFF;
    margin-left:0.5rem;
    cursor:pointer;
}


/* 
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    OWE AND OWED PANELS (MIDDLE)
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

.you-owe{
    grid-column: 2;
    grid-row: 2;

    background: rgba( 255, 255, 255, 0.6 );
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px  50px repeat(4, 1fr);

    font-size: 22px;
}

.header-owe{
    grid-row: 2;
    grid-column: 1/5;
    display: flex;
    justify-content: space-around;
}

.header-owe p{
    margin-bottom: 0;
}

.header-owe::after {
    content: " ";
    display: block;
    position: absolute;
    height: 1px;
    background: rgb(172, 172, 172);
    width: 95%;
    top: 25%;
}


.owe-row1{
    grid-row: 3;
    grid-column: 1/5;
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 16px;
    gap:1rem;

}

.owe-row2{
    grid-row: 4;
    grid-column: 1/5;
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 16px;
    gap:1rem;
}

.owe-row3{
    grid-row: 5;
    grid-column: 1/5;
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 16px;
    gap:1rem;

}

.owe-row4{
    grid-row: 6;
    grid-column: 1/5;
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 16px;
    margin-left: -0.4rem;

}

.status-unpaid {
    background-color: rgba(255, 139, 139, 0.651);
    padding:0.5rem 1rem;
}

.status-paid {
    background-color: #FADEFF;
    padding:0.5rem 1.6rem;
}

/*********************************/
.are-owed{
    grid-column: 2;
    grid-row: 3;

    background: rgba( 255, 255, 255, 0.6 );
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px  50px repeat(4, 1fr);

    font-size: 22px;
}

.header-owed{
    grid-row: 2;
    grid-column: 1/5;
    display: flex;
    justify-content: space-around;
}

.header-owed p{
    margin-bottom: 0;
}

.header-owed::after {
    content: " ";
    display: block;
    position: absolute;
    height: 1px;
    background: rgb(172, 172, 172);
    width: 95%;
    top: 25%;
}

.owed-title{
    grid-column: 1/5;
    margin-left: 1rem;
}

.owe-title{
    grid-column: 1/5;
    margin-left: 1rem;
}


/* 
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    TRANSACTION HISTORY PANEL (BOTTOM LEFT)
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

.transactions{
    grid-column: 1;
    grid-row: 3;

    background: rgba( 255, 255, 255, 0.6 );
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;

    margin-left: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px  repeat(4, 1fr);

    font-size: 22px;
}

.transaction1{
    grid-row: 2;
    grid-column: 1/5;
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 16px;
    gap:1rem;

}

.header-owe{
    grid-row: 2;
    grid-column: 1/5;
    display: flex;
    justify-content: space-around;
}

.header-owe p{
    margin-bottom: 0;
}

.owe-row1{
    grid-row: 3;
    grid-column: 1/5;
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 16px;
    gap:1rem;

}

.owe-row2{
    grid-row: 4;
    grid-column: 1/5;
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 16px;
    gap:1rem;
}

.owe-row3{
    grid-row: 5;
    grid-column: 1/5;
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 16px;
    gap:1rem;

}

.owe-row4{
    grid-row: 6;
    grid-column: 1/5;
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 16px;
    margin-left: -0.4rem;

}
