@font-face {
    font-family: 'Basier Circle';
    src: local('Basier Circle Circle Regular'), local('Basier-Circle-Circle-Regular'),
        url('BasierCircle-Regular.woff2') format('woff2'),
        url('BasierCircle-Regular.woff') format('woff'),
        url('BasierCircle-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #5cff696c;
    font-family: 'Basier Circle', Arial, Helvetica, sans-serif;
}

#dashboard{
    width: 100vw;
    height: 100vh;
    max-width:100%;
    border-radius: 16px;
    display: flex;
    align-items: center;

    background: rgba( 255, 255, 255, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
}

#content{
    position: absolute;
    width:85%;
    height: 95%;
    right:1.5rem;

    border-radius: 16px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
}

.sidebar{
    position: absolute;
    top:0;
    display: flex;
    flex-direction: column;
    gap:4rem;
    padding-left: 1.5rem;
}

.logo{
    font-size:36px;
}

li{
    list-style-type: none;
    font-size: 1.25rem;
}

ul.main-nav, ul.sub-nav{
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap:2rem;
}